/* colors used in project 
fonts : black,white
border/divider : #03070473,#DFE1E6
theme : #A122DD #CC397B #FF374F
box shadow : #00000066*/

:root {
    --theme-color: #A122DD;
    --theme-gradient: linear-gradient(90deg, #A122DDFF, #CC397BFF, #FF374FFF);
}

/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;800&display=swap'); */

/* work-sans-regular - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/work-sans-v8-latin-regular.woff') format('woff'),
        url('../fonts/work-sans-v8-latin-regular.ttf') format('truetype');
}

/* work-sans-600 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/work-sans-v8-latin-600.woff') format('woff'),
        url('../fonts/work-sans-v8-latin-600.ttf') format('truetype');
}

/* work-sans-500 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/work-sans-v8-latin-500.woff') format('woff'),
        url('../fonts/work-sans-v8-latin-500.ttf') format('truetype');
}

/* work-sans-700 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/work-sans-v8-latin-700.woff') format('woff'),
        url('../fonts/work-sans-v8-latin-700.ttf') format('truetype');
}

/* work-sans-800 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('../fonts/work-sans-v8-latin-800.woff') format('woff'),
        url('../fonts/work-sans-v8-latin-800.ttf') format('truetype');
}

/* all buttons and input types */
button,
input {
    user-select: none;
    border: 1px solid #03070473;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    outline: none;
}

/* mozilla input type focus style */
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden auto;
    font-family: 'Work Sans', sans-serif;
}

header {
    display: block;
    width: 90vw;
    margin: 0 auto;
}

.title-header {
    display: flex;
    width: 100%;
    height: 64px;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.title {
    white-space: nowrap;
    user-select: none;
    font-weight: 700;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    background-image: var(--theme-gradient);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-logo,
.page-nav {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.page-logo {
    background: var(--theme-gradient);
    border: 1px solid var(--theme-color);
}

.logo {
    width: 100%;
    height: 100%;
}

/* gradient box */
.gradient-container {
    display: block;
    width: 96vw;
    margin: 5px auto;
    border-bottom: 5px solid white;
    border-radius: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: -100px;
    z-index: 1;
}

.gradient {
    width: 100%;
    height: 200px;
    border-radius: 16px;
    background-repeat: repeat;
}

.options-detail-tag {
    width: 70px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.options-div {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: space-around;
    height: 170px;
}

.option {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03070455;
    border: 2px solid white;
}

.option-svg {
    fill: white;
    stroke: white;
    width: 42px;
}

#autosave {
    display: none;
}

#autosave:checked+.option {
    background-color: var(--theme-color);
}

/* header end */

main {
    display: block;
    width: 90vw;
    margin: 0 auto;
}

/* button row below gradient starts*/
.gradient-buttons-block {
    margin: 0 auto;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto hidden;
    scrollbar-width: thin;
    scrollbar-color: #888888 #a5a5a586;
}

/* gradient color buttons div*/
.gradient-color-buttons {
    max-width: fit-content;
    min-width: 100%;
    height: 56px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.gradient-buttons-block::-webkit-scrollbar {
    background-color: #03070473;
    height: 5px;
    border-radius: 10px;
}

.gradient-buttons-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--theme-color);
    background-image: radial-gradient(circle at center, #A122DDFF 00%, slateblue 100%);
}

/* gradient color buttons*/
.colorButton {
    margin-right: 2px;
    margin-left: 2px;
    height: 48px;
    color: transparent;
    text-align: center;
}

#activeColor {
    border: none;
    border: solid 2px var(--theme-color);
    padding: 2px;
    background-clip: content-box;
}

.color-arrange {
    margin: 0 auto;
    margin-top: 16px;
    width: 98%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    border: 2px dashed #03070473;
    border-radius: 10px;
}

.arrange-buttons {
    margin: 5px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
}

.arrange-svg {
    width: 44px;
    fill: white;
}

.preset-Color-Box,
.color-window,
.color-settings-div,
.gradient-settings,
.gradient-code {
    width: 100%;
    margin: 16px 0px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0 10px #00000066;
    -webkit-box-shadow: 0px 0 10px #00000066;
    box-shadow: 0px 0 10px #00000066;
}

.color-pallete {
    user-select: none;
    margin: 16px 0px;
}

.color-pallete summary {
    background-image: var(--theme-gradient);
    color: white;
    border-radius: 5px;
    padding: 3px;
}


.preset-Color-Box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.preset-color {
    margin: 10px 2%;
    width: 20%;
    height: 48px;
}

.preset-color:last-child {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' width='32px' fill='white' fill-rule='evenodd' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 17.883V16l5 3-5 3v-2.09a9 9 0 0 1-6.997-5.365L11 14.54l-.003.006A9 9 0 0 1 2.725 20H2v-2h.725a7 7 0 0 0 6.434-4.243L9.912 12l-.753-1.757A7 7 0 0 0 2.725 6H2V4h.725a9 9 0 0 1 8.272 5.455L11 9.46l.003-.006A9 9 0 0 1 18 4.09V2l5 3-5 3V6.117a7 7 0 0 0-5.159 4.126L12.088 12l.753 1.757A7 7 0 0 0 18 17.883z'/%3E%3C/svg%3E"),
        var(--theme-gradient);
    background-repeat: no-repeat;
    background-position: center;
}

/* .color-window div */
.color-window {
    height: 180px;
    background-color: whitesmoke;
    background-repeat: repeat;
    position: relative;
}

/* color-code Box */
.color-codes-block,
.color-codes-copy-div {
    display: flex;
    height: 99%;
    justify-content: space-around;
    flex-flow: column nowrap;
    position: absolute;
    right: 40px;
}

.color-codes-copy-div {
    right: 5px;
}

.color-codes-block input[type="text"] {
    width: 180px;
    height: 30px;
    color: black;
    font-size: small;
    border-radius: 30px;
}

.colorCodesCopy {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-copy-svg {
    width: 32px;
}

.colorCodesCopy:focus,
.colorCodesCopy:hover {
    background-color: var(--theme-color);
    fill: white;
}

.color-settings-div {
    height: 180px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.color-value-div,
.linear-value-div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.hex-value-div {
    white-space: nowrap;
    justify-content: flex-end;
}

.hex-input {
    text-transform: uppercase;
    min-width: 48px;
    max-width: 84px;
    height: 24px;
}

input[type='range'] {
    width: 70%;
    -webkit-appearance: none;
    height: 20px;
    border: 1px ridge #00000099;
    border-radius: 16px;
    cursor: move;
}

input[type='number']:focus,
.hex-input:focus {
    border: solid 2px var(--theme-color);
}

#alphaSlider {
    opacity: 1;
    background-size: contain;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
}

input[type='range']::-moz-range-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
}

input[type='range'].notWhiteThumb::-webkit-slider-thumb {
    background-color: var(--theme-color);
}

input[type='range'].notWhiteThumb::-moz-range-thumb {
    background-color: var(--theme-color);
}

input[type='range'].notWhiteThumb {
    border: 1px solid #aaaaaa;
}

input[type='number'] {
    width: 44px;
    height: 25px;
    font-size: small;
}

::selection {
    color: white;
    background-color: var(--theme-color);
}

.color-value-div label {
    margin-right: 5px;
}

.gradient-settings {
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.gradient-type-buttons,
.linear-settings,
.radial-shape-buttons {
    width: 20%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.gradient-type-buttons {
    border-right: 1px solid #03070473;
}

#activeType,
#activeShape,
#currentDirection,
#currentDegree {
    background: linear-gradient(90deg, #A122DD, #FF374F);
    color: white;
}

.gradient-type-buttons button,
.radial-shape-buttons button {
    height: 40px;
    width: 90%;
    font-size: 1em;
}

.linear-settings,
.radial-settings {
    height: 100%;
    width: 80%;
}

.linear-settings div {
    height: 45%;
}

.linear-value-div div {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linear-value-div label {
    font-size: xx-large;
}

.linear-direction-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 10%);
    grid-template-rows: 42px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.linear-direction-div button {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bolder;
    min-width: 34px;
}

.rotate-text span {
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.radial-settings {
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    display: none;
}

.radial-shape-buttons {
    width: 30%;
}

.radial-direction-div {
    display: grid;
    grid-template-columns: repeat(3, minmax(36px, 40px));
    grid-template-rows: repeat(3, 36px);
    width: 40%;
    height: 95%;
    gap: 4px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.radial-direction-div button {
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
}

.gradient-code {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.gradient-code-header {
    user-select: none;
    width: 100%;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    background: var(--theme-gradient);
    color: white;
    position: relative;
}

.gradient-code-header span {
    padding-left: 10px;
}

.code-switch {
    display: flex;
    align-items: center;
    user-select: none;
    font-size: small;
    position: absolute;
    right: 10px;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.codeToggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 24px;
    background-color: transparent;
}

.codeToggle:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

#codeSwitch:checked+.codeToggle:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.code-switch label,
.code-switch input {
    cursor: pointer;
}


#gradientCode {
    min-height: 60px;
    border-bottom: 2px solid #03070473;
    border-top: 2px solid #03070473;
    padding: 10px 0px 10px 5px;
}

#gradientCopyButton {
    width: 100%;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grad-code-copy {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.user-colors,
.user-gradients {
    width: 100%;
    margin: 16px 0px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0 10px #00000066;
    -webkit-box-shadow: 0px 0 10px #00000066;
    box-shadow: 0px 0 10px #00000066;
    height: auto;
}

.user-color-header,
.user-gradient-header {
    width: 100%;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--theme-gradient);
    color: white;
}

.user-color-header span,
.user-gradient-header span {
    padding-left: 10px;
}

.save-userdata-button {
    width: max-content;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.user-save-svg {
    width: 26px;
    fill: white;
}

.user-colors-list,
.user-gradients-list {
    min-height: 100px;
    max-height: 220px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden auto;
    scrollbar-width: thin;
    scrollbar-color: #888888 #a5a5a586;
}

.empty-list {
    font-size: x-large;
    font-weight: 500;
    color: var(--theme-color);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extra-space {
    height: 10px;
}

.user-colors-list:hover,
.user-gradients-list:hover,
.gradient-buttons-block:hover {
    scrollbar-color: var(--theme-color) #a5a5a586;
}

.user-color-container,
.user-grad-container {
    width: 80%;
    height: max-content;
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.user-color,
.user-color-info {
    width: 40%;
    height: 44px;
    background-color: coral;
    border-radius: 10px;
    font-size: medium;
}

.user-color,
.user-grad {
    border: 1px solid #dddddd;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-repeat: repeat;
    background-size: cover;
}

.user-color button,
.user-grad button {
    width: 44%;
    height: 80%;
    background-color: #55555555;
    color: white;
    font-size: large;
}

.user-color-info {
    min-width: 120px;
    max-width: max-content;
    background-color: transparent;
}

.user-grad,
.user-grad-copy {
    width: 40%;
    height: 44px;
    border-radius: 10px;
}

.user-grad-copy {
    border: 1px solid #cccccc;
    width: max-content;
    display: flex;
    align-items: center;
    font-size: medium;
}

.grad-copy {
    width: 28px;
    margin-right: 5px;
}

footer {
    height: 24px;
}

@media screen and (min-width:768px) {
    main {
        width: 95%;
        margin-left: 2.5%;
    }

    .gradient-container {
        top: -100px;
    }

    .gradient {
        height: 250px;
    }

    .options-div {
        height: 220px;
    }

    .color-settings-div,
    .gradient-settings {
        width: 49%;
        float: left;
        height: 168px;
    }

    .radial-settings {
        height: 90%;
    }

    .radial-direction-div {
        grid-template-columns: repeat(3, minmax(44px, 48px));
        grid-template-rows: repeat(3, 44px);
    }

    .gradient-code-header {
        justify-content: center;
    }

    .user-colors,
    .user-gradients {
        width: 49%;
        float: left;
    }

    .user-gradients,
    .gradient-settings {
        margin-left: 2%;
    }
}

@media screen and (min-width:1012px) {
    .preset-color {
        width: 14.65%;
        margin: 10px 1%;
    }
}

/* hover focus */
.title:hover,
#gradientCopyButton:hover,
#gradientCopyButton:focus {
    background-image: linear-gradient(90deg, #A122DD, #CC397B, #FF374F, #A122DD);
    background-size: 400% auto;
    animation: animate 6s ease infinite;
    color: white;
    fill: white;
}

@keyframes animate {
    to {
        background-position: 400% 0%;
    }
}

/* 
.gradient-settings button:hover,
.gradient-settings button:focus */

.colorButton:hover,
#addColorButton:hover,
.preset-color:hover,
input[type='range']:focus,
.preset-color:focus {
    box-shadow: 2px 2px 5px #00000066;
    -webkit-box-shadow: 2px 2px 5px #00000066;
    -moz-box-shadow: 2px 2px 5px #00000066;
}

.summary:hover,
.summary:focus {
    padding-left: 8px;
}

.toast {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: max-content;
    white-space: nowrap;
    width: 100%;
    position: fixed;
    top: 16%;
    z-index: 2;
    display: none;
    user-select: none;
}

.toast span {
    background: var(--theme-gradient);
    width: max-content;
    height: max-content;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    border-radius: 20px;
}