/* mozilla input type focus style */
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden auto;
}

header {
    display: inline-block;
    width: 100%;
}

/* all buttons and input types */
button,
input {
    user-select: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    outline: none;
}

.title-header {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.page-logo {
    width: 48px;
    height: 48px;
    margin: 10px;
    border-radius: 50%;
    background-color: brown;
}

.title-header span {
    font-size: large;
}

.page-nav {
    width: 36px;
    height: 36px;
    margin: 10px;
    border-radius: 30%;
    background-color: brown;
}

/* gradient color box */
.gradient {
    border-bottom: 5px solid white;
    display: inline-block;
    width: 100%;
    height: 240px;
    background-size: contain;
    position: -webkit-sticky;
    position: sticky;
    top: -120px;
    z-index: 1;
}

/* autosave toogle styling starts */
.autosave-div {
    background-color: white;
    border-radius: 10px;
    opacity: 0.3;
    width: max-content;
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.autosave-div:hover {
    opacity: 1;
}

.autosave-div label {
    user-select: none;
    cursor: pointer;
    display: block;
    margin-bottom: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 24px;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.toggle {
    background-color: #2196F3;
}

input:focus+.toggle {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.toggle:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* autosave toggle styling ends */
/* header end */

main {
    display: inline-block;
    width: 90%;
    margin-left: 5%;
}

/* button row below gradient starts*/
.gradient-buttons-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 56px;
}

/* gradient color buttons div*/
.gradient-color-buttons {
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 90%;
    height: 56px;
    overflow: auto hidden;
    justify-content: space-around;
    border-right: 2px solid black;
    scrollbar-width: thin;
    scrollbar-color: orangered #00000040;
}

.gradient-color-buttons::-webkit-scrollbar {
    background-color: #00000040;
    height: 6px;
    border-radius: 10px;
}

.gradient-color-buttons::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkorchid;
    background-image: radial-gradient(circle at center, goldenrod 00%, orangered 80%);
}

/* gradient color buttons*/
.gradient-color-buttons button {
    margin-right: 2px;
    height: 48px;
    color: transparent;
    text-align: center;
}

.gradient-color-buttons button:hover {
    background-color: lightseagreen;
}

#activeColor {
    border-width: 3px;
    border-style: dotted;
}

/* plus color button */
#addColorButton {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: dodgerblue;
    color: antiquewhite;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
}

/* button row below gradient ends */

.preset-Color-Box,
.color-window,
.range-buttons,
.gradient-settings,
.gradient-code,
.extra-div {
    width: 100%;
    margin: 10px 0px;
    border-radius: 10px;
    border: 2px solid black;
}

details {
    user-select: none;
    margin: 20px 0px;
}

.preset-Color-Box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: auto;
}

.preset-color {
    margin: 10px 2%;
    width: 20%;
    height: 40px;
}

/* .color-window div */
.color-window {
    height: 160px;
    background-color: whitesmoke;
    background-size: contain;
    position: relative;
}

/* color-code Box */
.color-codes-block,
.color-codes-copy-div {
    display: flex;
    height: 99%;
    justify-content: space-around;
    flex-flow: column nowrap;
    position: absolute;
    right: 38px;
}

.color-codes-block input[type="text"] {
    width: 180px;
    height: 20px;
    color: black;
    font-size: small;
}

.color-codes-copy-div {
    right: 5px;
}

.colorCodesCopy {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-weight: 600;
    font-size: 1em;
}

.color-value-div,
.linear-settings div {
    width: 100%;
    display: flex;
    height: 24%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

input[type='range'] {
    width: 70%;
    -webkit-appearance: none;
    height: 20px;
    border-radius: 20px;
    opacity: 0.9;
}

.color-slider:hover {
    opacity: 1;
}

.range-buttons {
    height: 160px;
    border: none;
}

#redSlider {
    background: linear-gradient(90deg, #000000, #FF0000);
}

#greenSlider {
    background: linear-gradient(90deg, #000000, #00FF00);
}

#blueSlider {
    background: linear-gradient(90deg, #000000, #0000FF);
}

#alphaSlider {
    opacity: 1;
    background-image: linear-gradient(90deg, #FFFFFF00, white),
        url(https://vipul1142.github.io/make-my-color/images/transparentImage.png);
    background-size: contain;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: whitesmoke;
    cursor: move;
}

input[type='range']::-moz-range-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: whitesmoke;
    cursor: move;
}

input[type='range']::-moz-focus-outer {
    border: 0;
}

input[type='range'].notWhiteThumb::-webkit-slider-thumb {
    background-color: black;
}

input[type='number'] {
    width: 40px;
    height: 25px;
    font-size: small;
}

.color-value-div label {
    margin-right: 5px;
}

.gradient-settings {
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: none;
}

.gradient-type-buttons,
.linear-settings,
.radial-shape-buttons {
    width: 20%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

#activeType,
#activeShape,
#currentDirection,
#currentDegree {
    background-color: steelblue;
}

.gradient-type-buttons button,
.radial-shape-buttons button {
    height: 40px;
    width: 90%;
    font-weight: bold;
}

.linear-settings,
.radial-settings {
    height: 100%;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
}

.linear-settings div {
    height: 45%;
}

.linear-value-div div {
    width: 20%;
    display: flex;
    justify-content: center;
}

.linear-value-div label {
    font-size: xx-large;
}

.linear-direction-div button,
.radial-direction-div button {
    height: 35px;
    width: 35px;
    font-size: 20px;
    font-weight: bolder;
}

.rotate-text span {
    display: inline-block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.radial-settings {
    /* display: flex; */
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    display: none;
}

.radial-shape-buttons {
    width: 30%;
}

.radial-direction-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 40%;
    height: 98%;
    gap: 2px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.radial-direction-div button {
    width: 100%;
    height: 100%;
}

.gradient-code {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#gradientCodeHeader {
    width: 100%;
    text-align: center;
    margin: 8px auto;
}

#gradientCode {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 10px 0px 10px 5px;
}

#gradientCopyButton {
    border: none;
    height: 30px;
}

.extra-div {
    height: 20vh;
    background: linear-gradient(90deg, rgba(204, 7, 184, 1), rgba(105, 92, 255, 1), rgba(52, 135, 87, 1));
}

@media screen and (min-width:1012px) {
    main {
        width: 95%;
        margin-left: 2.5%;
    }

    .preset-color {
        width: 14.65%;
        margin: 10px 1%;
    }

    .range-buttons,
    .gradient-settings {
        width: 48.6%;
        float: left;
    }

    .gradient-settings {
        margin-left: 2%;
    }
}